.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn {
    margin-top: 20px;
    width: 100%;
  }

  table {
  margin-left: 10px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 30%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
  padding: 10px;
}

tr {
  border-bottom: 1px solid #ddd;
}