.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn {
    margin-top: 20px;
    width: 100%;
  }

  table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 50%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  background-color: #afb5c2;
  padding: 10px;
}

tr {
  border-bottom: 1px solid #ddd;
}

#h2-zahtev{
  text-align: center;
  font-weight: lighter;
  color: #a13f3f;
}