/* Osnovna stilizacija za navbar */
.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  /* Lista linkova */
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  /* Efekat kada je link aktivan */
  .navbar a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  .navbar .active {
    background-color: #777;
    border-radius: 5px;
  }
  

  .logout-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #e74c3c;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c0392b;
}
